# Ignore Android Studio project files
*.iml
.gradle
/local.properties
/.idea
.DS_Store

# Ignore build outputs
build/
app/build/

# Ignore caching & indexing
.cxx
.externalNativeBuild
captures/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/workspace.xml

# Ignore other temp files
*.log
*.tmp
